/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border: 3px solid green;
}
#red{
	background-color:red;
	border-top: 3px solid black;
	border-bottom: solid;
	border-left:solid;
	border-right:solid;
}
#green{
	background-color: green;
	border-top: 3px solid yellow;
	border-bottom: solid yellow;
	border-left:solid yellow;
	border-right:solid yellow;
}